<div class="row">
    <a href="~/Posts/AdminEditPost/@Model.PostID" class="btn btn-warning col">Chỉnh sửa bài viết</a>
    <a href="~/Posts/Delete/@Model.PostID" class="btn btn-danger col">Xóa bài viết</a>
</div>
