<div class="contact">
    <div class="left">
        <div class="rowitem">
            <label class="text" for="MemID">Mã thành viên</label>
            <input class="inputlong " id="MemID" type="number" name="MemID">
        </div>
    </div>
</div>

