<div class="row">
    <a href="~/Posts/Edit/@Model.PostID" class="btn btn-warning col">Chỉnh sửa bài viết</a>
    <a href="~/Posts/Renew/@Model.PostID" class="btn btn-info col">Gia hạn bài viết</a>
    <a href="~/Posts/Sold/@Model.PostID" class="btn btn-success col" id="soldbtn_@Model.PostID">Xác nhận đã bán</a>
</div>
