@model List<BanXeCu.Models.CountListItem>

@{
    ViewBag.Title = "ViewTopCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewTopCars</h2>


<table class="table">
    <tr>
        <th>
            Tên xe
        </th>
        <th>
            Số lượng bán ra
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountNumber)
        </td>
        
    </tr>
}

</table>
